html {
    font-size: 62.5%;
}
/*顶部导航*/
nav {
    font-size: 1.6rem;
}
nav .navbar-brand {
    margin: 0;
    padding: 0;
}
nav .navbar-brand img {
    height: 100%;
}
/*/顶部导航*/
/*欢迎*/
.welcome {
    position: relative;
    height: 700px;
    overflow: hidden;
    background: url("../images/s1bg.jpg") no-repeat center center;
    background-size: cover;
}
.welcome .welcome-photo {
    position: absolute;
    width: 150px;
    height: 150px;
    top:100px;
    left: 50%;
    margin-left:-75px;
    border-radius: 50%;
}
.welcome .welcome-photo:hover {
    box-shadow: 0 0 10px #FF0000;
}
.welcome .welcome-photo img {
    position: absolute;
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
}

.welcome .welcome-photo img:nth-child(2) {
    opacity: 0;
    transform: scale(0.5,0.5) rotate(0);
    transition: all 2s;
}
.welcome .welcome-photo img:nth-child(2):hover {
    transform: scale(1,1) rotate(360deg);
    opacity: 1;
}
.welcome .welcome-dec {
    padding-top: 500px;
    color: #ffffff;
    text-align: center;
    transition: all 1.5s .3s;
    opacity: 0;
}
.welcome .fade {
    padding-top: 300px;
    opacity: 1;
}
.welcome .welcome-dec .dec-one {
    font-size: 10rem;
    margin-bottom: 50px;
}
.welcome .welcome-dec .dec-two {
    font-size: 3rem;
    margin-bottom: 20px;

}
.welcome .welcome-dec .dec-three {
    font-size: 3rem;
}

.welcome .dec-three span {
    margin: 0 10px;
    transition: all 1s ease .5s;
}
.welcome .welcome-dec.fade .dec-three span {
    margin: 0;
}
/*/欢迎*/
/*关于我*/
.about {
    height: 700px;
}
.about h1 {
    font-size: 2.5rem;
    padding: 60px 0 10px 0;
    text-align: center;
}
.about h2 {
    font-size: 1rem;
    text-align: center;
}
.about .about-dec {
    padding-top: 100px;
}
.about .about-dec .about-dec-all {
}
.about .about-dec .about-dec-all h4{
    font-size: 1.5rem;
    color: #fff;
    text-align: left;
    line-height: 30px;
    background-color: #428bca;
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
}
.about .about-dec .about-dec-2 h4{
    background-color: #d9edf7;
    color: #31708f;
}
.about .about-dec .about-dec-3 h4{
    background-color: #dff0d8;
    color: #3c763d;
}
.about .about-dec .about-dec-4 h4{
    background-color: #fcf8e3;
    color: #8a6d3b;
}
.about .about-dec .dec-left {
    float: left;
    padding:10px 20px;
    padding-right: 0;
    text-align: left;
    font-size: 1.2rem;
    line-height: 20px;
}
.about .about-dec .dec-right {
    float: right;
    padding:10px 20px;
    text-align: right;
    font-size: 1.2rem;
    line-height: 20px;
}
.about .about-dec:nth-child(2) {
    padding-top: 0;
}
/*/关于我*/
/*技能*/
.skill {
    height: 700px;
    overflow: hidden;
    position: relative;
}
.skill h1 {
    font-size: 2.5rem;
    padding: 60px 0 10px 0;
    text-align: center;
}
.skill h2 {
    font-size: 1rem;
    text-align: center;
}
.skill .skill-text {
    position: absolute;
    top: 150px;
    left:700px;
    color: #fff;
    font-size: 1.5rem;
    width: 500px;
    height: 400px;
    background-color: #adadad;
    border-radius: 10px;
    padding-top: 60px;
}
.skill .skill-text p {
    text-align: center;
    margin: 20px 0;
}
/*/技能*/
/*demo*/
.demo {
    
}
.demo h1 {
    font-size: 2.5rem;
    padding: 60px 0 10px 0;
    text-align: center;
}
.demo h2 {
    font-size: 1rem;
    text-align: center;
}
.demo .demo-dec {

}
.demo .demo-dec img {
    width: 100%;
    transition: all 1s;
}
.demo .demo-dec .demo-cover {
    position: absolute;
    top: 0;
    left: 4%;
    width: 92.5%;
    height: 100%;
    background-color: #333333;
    transition: all .8s;
    opacity:0;
}
.demo .demo-dec .demo-dec-all{
    margin-top:20px;
    position: relative;
}
.demo .demo-dec .demo-dec-all:last-child{
    margin-bottom:30px;
}
.demo .demo-dec .demo-float{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top:-30px;
    margin-left:-75px;
    width: 150px;
    height: 100px;
    color: #ededed;
    font-size: 1.6rem;
    text-align: center;
    line-height: 30px;
    display: none;
}
.demo .demo-dec-all:hover img {
    transform: scale(1.05);
}
.demo .demo-dec-all:hover .demo-cover {
    opacity:.7;
    transform: scale(1.05);
    box-shadow: 3px 3px 3px #929292;
}
.demo .demo-dec-all:hover .demo-float {
    display: block;
}
/*/demo*/
/*联系我*/
.contact {
    position: relative;
}
.contact h1 {
    font-size: 2.5rem;
    padding: 60px 0 10px 0;
    text-align: center;
}
.contact h2 {
    font-size: 1rem;
    text-align: center;
}
.contact .contact-dec {
    padding-top: 80px;
    text-align: center;
    font-size: 1.8rem;
}
.contact .contact-dec p {
    margin-bottom: 20px;
}.contact .contact-dec p span {
     margin: 0 15px;
 }
.contact .contact-dec p span:nth-child(1){
    color: #ff52c1;
}
.contact .contact-dec p span:nth-child(2){
    color: #fff85a;
}
.contact .contact-dec p span:nth-child(3){
    color: #3fffc2;
}
.contact .contact-dec p span:nth-child(4){
    color: #94b337;
}
.contact .contact-dec p:nth-child(1) {
    font-size: 2.4rem;
    margin-bottom: 40px;
}
.contact .contact-icon {
    text-align: center;
    padding-top: 20px;
    width: 360px;
    position: absolute;
    left: 50%;
    margin-left:-180px;
}
.contact .contact-icon a {
    width: 40px;
    height: 40px;
    background-color: #aeaeae;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    padding-top: 10px;
    position: relative;
}
.contact .contact-icon a img:nth-child(1) {
    width: 20px;
}
.contact .contact-icon a img:nth-child(2) {
    width: 120px;
    position: absolute;
    top: -150px;
    left: -40px;
    border: 2px solid #75959f;
    border-radius: 10px;
    display: none;
}
.contact .contact-icon a img.weixin {
    top: -138px;
}
.contact .contact-icon a span {
    position: absolute;
    border: 10px solid red;
    border-color: transparent;
    border-top-color: #75959f;
    top:-18px;
    left: 11px;
    z-index: 2;
    display: none;
}
.contact .contact-icon a:hover img:nth-child(2),
.contact .contact-icon a:hover span {
    display: block;
}

.footer {
    margin-top:115px;
    height: 80px;
    color: #333333;
    text-align: center;
    line-height: 20px;
    font-size: 1.2rem;
    padding: 10px 0;
    border-top: 1px solid #adadad;
}
/*/联系我*/
/*媒体查询*/
@media (max-width: 1200px) {
    .welcome .welcome-dec .dec-one {
        font-size: 9rem;
    }
    .welcome .welcome-dec .dec-two {
        font-size: 2.7rem;

    }
    .welcome .welcome-dec .dec-three {
        font-size: 2.7rem;
    }
    .welcome .welcome-photo {
        width: 130px;
        height: 130px;
        margin-left:-65px;
    }
    .welcome .welcome-photo img {
        width: 130px;
    }
    .skill .skill-text {
        left: 600px;
    }
    .demo .demo-dec .demo-float {
        font-size: 1.4rem;
    }
}
@media (max-width: 992px) {
    .welcome .welcome-dec .dec-one {
        font-size: 6rem;
    }
    .welcome .welcome-dec .dec-two {
        font-size: 1.8rem;

    }
    .welcome .welcome-dec .dec-three {
        font-size: 1.8rem;
    }
    .welcome .welcome-photo {
        width: 110px;
        height: 110px;
        margin-left:-55px;
    }
    .welcome .welcome-photo img {
        width: 110px;
    }
    .skill .skill-text {
        left: 450px;
    }
    .demo .demo-dec .demo-float {
        font-size: 1.2rem;
    }
}
@media (max-width: 768px) {
    .welcome .welcome-dec .dec-one {
        font-size: 4rem;
    }
    .welcome .welcome-dec .dec-two {
        font-size: 1.2rem;

    }
    .welcome .welcome-dec .dec-three {
        font-size: 1.2rem;
    }
    .welcome .welcome-photo {
        width: 90px;
        height: 90px;
        margin-left:-45px;
    }
    .welcome .welcome-photo img {
        width: 90px;
    }
    .skill .skill-text {
        display: none;
    }
    .demo .demo-dec .demo-float {
        font-size: 1rem;
    }
}
/*/媒体查询*/